.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: rgb(15, 15, 15);
}